.prev-next-area a p.prev-next-title {
    font-size: 0.8em;
}

.prev-next-area a .prev-next-info .prev-next-subtitle {
    font-size: 0.8em;
}

footer.bd-footer {
    font-size: 0.7em;
}

/*@media (min-width: 768px)*/
div.navbar-brand-box a.navbar-brand img {
    max-height: 8vh!important;
}

